.card {
  flex: 1 1 calc(33.33% - 32px);
  max-width: 380px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 6px 0 rgb(2, 238, 255);
  background-color: aqua;
  cursor: pointer;
}
.card img {
  width: 200px;
    filter: brightness(0);
    transition: filter 0.5s ease-in;
}

.card:hover img {
    filter: brightness(1);
}

.card .mostrar {
  visibility: hidden;
}

.card:hover .mostrar {
  visibility: visible;
}